.container .row img{
    width:100%;height: 100%;
}

.donate-btn{
    background: green !important;
    font-weight: bold;
    padding: 10px !important;
    float: right;
    width: 180px !important;
    height: 50px !important;
    font-size: 20px !important;
    font-weight: bold !important;
}
.main-menu{
    width: 100%;
    background: rgba(236, 236, 236, 0.5);
    padding: 10px;
}
.main-menu ul{
    width:100%;text-align:center;direction:rtl;
}
.main-menu ul li {
    margin: 5px;
}
.main-header{
    padding-bottom: 0px !important;
}

.buttons-as-images img{
    cursor: pointer;
    margin-bottom: 5%;
}

.buttons-as-images img:hover{
    box-shadow: -1px 1px 6px 2px grey;
}

.single-category{
    background-color: #febc11 !important;
    text-align: center;
    height: 70px;
    padding: 0px;
}
.categories span{
    font-size: 30px;
    color: white;
    width: 100%;
}
.single-category:hover a{
    text-decoration: none;
}
.categories img{

    max-height: 273px;
    cursor: pointer;
}
.categories .col-md-4{
    margin-top: 10px;
}


.categories span:hover{
   color: black;
}
.single-gallery-image{
    margin-top: 0px;
}
.avatar-img{
    width: 150px !important;
    height: 150px !important;
}
.table-about-us-names{
    height: 100%;
    text-align: center;
    vertical-align: middle !important;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    margin: auto;
    padding: 5px;
    background: #91c642;
    margin-top: 10px;
}
.products-images img{
    max-width: 100px;
    cursor: pointer;
    border-radius: 5px;
}
.products-images div{
    text-align: center;
    font-weight: bold;
}
.products-header{
    text-align: center;
    font-size: 20px;
}
.products-header-active{
    background: #ddd8d8;
    padding: 5px;
}
.carousel .active{
    border: none !important;
    padding:0px !important;
}
.modal-title{
    background: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    float: right;
    width: 100%;
    text-align: center;
}
.text-p-style{
    background: lightgrey;
    padding: 10px;
    font-weight: bold;
    text-align:right;font-size:20px;direction: rtl;width:100%;
}
.consultant-container{
    width: 100%;
    text-align: center;
    background: rgba(236, 236, 236, 0.5);
    padding: 10px;
}
.consultant-container label{
    font-weight: bold;
}
.consultant-container li{
    text-align: right !important;
}
.consultant-container .current{
    float: right !important;
}
.map-area img{
    width: 60% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.modal-content .nice-select span.current{
    line-height: 24px !important;margin-right: 20px;
}

.carousel-item{
    max-width: 600px;
    max-height: 600px;
}

.oneProduct{
    margin: 10px;
    border: 2px solid grey;
    cursor: pointer;
}
body{
    background: #f4f4f4 !important;
}
.sticky-header{
    width: 100%;
    height: 45px;
    background: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,.25);
}
.header-area.main-header{
   padding-top: 0px;
}
.container-main{
    background: #fff;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,.05);
      margin-bottom: 20px;margin-top: 20px;
}